bootstrap-flask
Flask_CKEditor
Flask_Login
Flask-Gravatar
WTForms
Werkzeug
Flask
SQLAlchemy
blinker
click
colorama
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
typing_extensions
bleach
email_validator
gunicorn
psycopg[binary]>=3.0.0
python-dotenv